files:
 "/opt/elasticbeanstalk/hooks/postinit/installandrun.sh" :
  content: |
    #!/bin/bash
    aws s3 cp s3://roy-beanstalk-test/user-service/deployment.conf /tmp/application/deployment.conf --region eu-west-1
    yum install git -y
    cd /home/ec2-user
    aws s3 cp s3://carbynedevops/install.sh . --region eu-west-1
    chmod +x install.sh
    ./install.sh -i Cluster -s Cluster
    exit 0
  mode:  "000755"
  owner: root
  group: root
