  option_settings:
        - namespace: aws:autoscaling:launchconfiguration
          option_name: EC2KeyName
          value: staging-key_v1

        - namespace: aws:ec2:vpc
          option_name: VPCId
          value: vpc-70b54f16

        - namespace: aws:ec2:vpc
          option_name: Subnets
          value: subnet-3b173160

        - namespace: aws:ec2:vpc
          option_name: Subnets
          value: subnet-911036ca

        - namespace: aws:autoscaling:launchconfiguration
          option_name: InstanceType
          value: m1.small

        - namespace: aws:autoscaling:launchconfiguration
          option_name: SecurityGroups
          value: sg-0303854971c7f0ced
